{% extends 'base.html.twig' %}

{% block title %} Noticias Presidenciales {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Contacto</h1>
    </div>
       <form action="{{path('mensaje_contacto')}}" enctype="multipart/form-data" method="POST">
            <label>Nombre:</label>
            <input type="text" id="name" name="nombre" placeholder="Nombre" pattern="([A-Za-z]{3,20})\w+"><br><br>
            <label>Correo:</label>
            <input type="email" placeholder="Correo" id="mail" name="correo"><br><br>
            <label>Mensaje:</label>
            <input type="text" id="mensaje" name="mensaje" placeholder="Deja tu mensaje" style="width:200px;height:150px"><br><br>
            <input type="submit" value="Submit">
        </form>

{%  endblock %}
