footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 2rem;
}

.footer-content p{
    max-width: 500px;
    margin: 1px auto;
    line-height: 28px;
    font-size: 10px;
    color: #cacdd2;
}
