li {
    float: left;
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    font-family: fantasy;
    color: darkblue;
    font-size: 25px;
}
header{
    background-color: grey;
}
nav{
    margin-left: 400px;
}