{% extends 'base.html.twig' %}

{% block title %} Noticias Presidenciales {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Noticias</h1>
        <a href={{ path('crear_entrada')}}>crear</a>
    </div


{%  endblock %}